<div class="modal-content">
  <div class="modal-header" align="end">
    <button type="button" (click)="close()" class="close" aria-label="Close">
      <span aria-hidden="true">
        <img src="assets/cancel.png" width="20px" />
      </span>
    </button>
  </div>
  <div class="modal-body pb-4 text-center pt-1">
    <div>
      <h4 class="pb-3">Are you sure ?</h4>

      <mat-dialog-actions class="d-flex justify-content-center" fxLayoutGap="20px">
        <button (click)="close()" mat-raised-button mat-dialog-close color="primary">Cancel</button>
        <button mat-raised-button (click)="lookUpComponent()" cdkFocusInitial class="clicked" color="warn">Ok</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
