<div class="container">
  <mat-card class="p-3 mt-5">
    <h2 class="text-center pb-3">Invoices</h2>
    <form>
      <div fxLayout="column" class="mt-4 pl-5 pl-sm-0">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
          <div fxLayout="column">
            <h6>Date</h6>
            <mat-form-field appearance="outline" class="w-120 w-90">
              <input matInput />
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <h6>Invoice</h6>
            <mat-form-field appearance="outline" class="w-120 w-90">
              <input matInput />
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <h6>Amount</h6>
            <mat-form-field appearance="outline" class="w-120 w-90">
              <input matInput />
            </mat-form-field>
          </div>
          <div>
            <button mat-icon-button color="primary"><mat-icon svgIcon="pdf"></mat-icon></button>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" class="w-120 w-90">
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-120 w-90">
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-120 w-90">
            <input matInput />
          </mat-form-field>
          <div class="cus-pd">
            <button mat-icon-button color="primary"><mat-icon svgIcon="pdf"></mat-icon></button>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" class="w-120 w-90">
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-120 w-90">
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-120 w-90">
            <input matInput />
          </mat-form-field>
          <div class="cus-pd">
            <button mat-icon-button color="primary"><mat-icon svgIcon="pdf"></mat-icon></button>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end end">
        <button mat-raised-button color="warn" routerLink="home">Back</button>
      </div>
    </form>
  </mat-card>
</div>
