<div class="modal-content">
  <div class="modal-header payment-header" align="space-between">
    <h3 class="pl-3">Add Payment Method</h3>
    <button type="button" (click)="close()" class="close" aria-label="Close">
      <span aria-hidden="true">
        <img src="assets/cancel.png" width="20px" />
      </span>
    </button>
  </div>
  <div class="modal-body text-center pt-1">
    <div class="p-3 p-sm-0 mt-0">
      <form (ngSubmit)="submit()" [formGroup]="Form" #f novalidate>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5%" class="mt-4">
          <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex="100%" fxLayout="column" fxLayoutGap="10px">
            <h6 class="mr-auto">Card Details</h6>
            <ngx-stripe-card class="black-box p-3" [options]="cardOptions"></ngx-stripe-card>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="5%" class="mt-5 pt-mob-15 mob-wrap" fxLayoutAlign="space-between end">
          <div fxLayout="row wrap" class="w-100" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
            <mat-form-field fxFlex="40%" fxFlex.xs="100%" appearance="outline">
              <mat-label>Billing Address</mat-label>
              <input matInput formControlName="address_line1" />
              <mat-error *ngIf="hasError('address_line1', 'required')">
                <span>Adress1 is required</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="40%" fxFlex.xs="100%" appearance="outline">
              <mat-label>Billing Address2</mat-label>
              <input matInput formControlName="address_line2" />
              <mat-error *ngIf="hasError('address_line2', 'required')">
                <span>Adress2 is required</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="40%" fxFlex.xs="100%" appearance="outline">
              <mat-label>Address city</mat-label>
              <input matInput formControlName="address_city" />
              <mat-error *ngIf="hasError('address_city', 'required')">
                <span>city is required</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="40%" fxFlex.xs="100%" appearance="outline">
              <mat-label>Address country</mat-label>
              <input matInput formControlName="address_country" />
              <mat-error *ngIf="hasError('address_country', 'required')">
                <span>country is required</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <div fxLayout="row">
              <button type="button" (click)="close()" mat-raised-button color="warn" class="mr-3">CANCEL</button>
              <button type="submit" [disabled]="Form.invalid || isLoading" mat-raised-button color="primary">
                SAVE
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
