<div class="modal-content">
  <div class="modal-header" align="end">
    <button type="button" (click)="close()" class="close" aria-label="Close">
      <span aria-hidden="true">
        <img src="assets/cancel.png" width="20px" />
      </span>
    </button>
  </div>
  <div class="modal-body text-center pt-1">
    <div class="p-3 mt-0">
      <form>
        <div fxLayout="row" fxLayoutGap="5%" class="mt-4">
          <div fxLayout="column" fxLayoutGap="10px">
            <h6>Card Details</h6>
            <div fxLayout="row" fxLayoutAlign="center center">
              <img src="./../../assets/Visa_logo_PNG1.png" alt="" width="50px" class="cus-pd" />
              <mat-form-field appearance="outline" class="pl-2">
                <input matInput />
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="10px">
            <h6>Expires</h6>

            <mat-form-field appearance="outline">
              <input matInput />
            </mat-form-field>
          </div>
          <div fxLayout="column" class="justify-content-center">
            <div fxLayout="row" fxLayoutGap="5px">
              <button mat-raised-button color="primary">Edit</button>
              <button mat-raised-button color="primary">Replace</button>

              <button
                mat-raised-button
                color="warn"
                matTooltip="Uh oh, you must add a new payment method before you re move this one."
              >
                Delete
              </button>
            </div>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="5%" class="mt-5" fxLayoutAlign="space-between end">
          <div fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Input</mat-label>
              <input matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Input</mat-label>
              <input matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Input</mat-label>
              <input matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Input</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <div fxLayout="row">
              <button mat-raised-button color="warn" class="mr-3">CANCEL</button>
              <button mat-raised-button color="primary">SAVE</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
