.container {
  // text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}
.border-box {
  border: 2px solid #d1d1d1;
  border-radius: 5px;
  padding: 15px;
}
.cus-pd {
  padding-bottom: 1.34375em;
}
