<div class="container">
  <mat-card class="p-3 mt-5">
    <form>
      <div fxLayout="row" fxLayoutGap="10%">
        <div fxLayout="column" fxLayoutGap="15px">
          <mat-form-field appearance="outline">
            <mat-label>Input</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Next Payment Date</mat-label>

            <input matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="end flex-end">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Input</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div>
            <div fxLayout="column" fxLayoutAlign="end flex-end">
              <div fxLayout="row" fxLayoutAlign="center center">
                <img src="./../../assets/Visa_logo_PNG1.png" alt="" width="50px" class="cus-pd" />
                <mat-form-field appearance="outline" class="pl-2">
                  <input matInput />
                </mat-form-field>
              </div>
              <button mat-raised-button color="primary" routerLink="/payment-method">EDIT</button>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="5px">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Input</mat-label>
              <button
                mat-icon-button
                matSuffix
                matTooltip="Find out more about licenses by checking out our knowledge base article which explains all!"
              >
                <mat-icon>info</mat-icon>
              </button>
              <input matInput />
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="start">
            <div class="pb-4">
              <p>x active licenses</p>
              <p>x pending Invitations</p>
              <p>x licenses available to assign</p>
            </div>
            <div fxLayout="row" fxLayoutGap="5px">
              <button mat-raised-button color="primary">EDIT LICENSES</button>
              <button mat-raised-button color="warn">CANCEL PLAN</button>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center" class="pt-5">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <p>Invoicing</p>
          <button mat-raised-button color="primary">VIEW</button>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <p>Need some help?</p>
          <button mat-raised-button color="primary">SUBMIT A SUPPORT TICKET</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
