<div class="container">
  <p *ngIf="isShowAlert">
    <ngb-alert type="danger" [dismissible]="true">
      <strong>We are sorry</strong> to see you go and are here for you if you would like to return. We will hold your
      account for a short period of time before deleting your data to comply with GDPR regulations.
    </ngb-alert>
  </p>
  <mat-card class="p-3 mt-5">
    <div *ngIf="isLoading" class="col-md-12 pt-5 justify-content-center d-flex">
      <app-loader [size]="1.5" class="inline-loader" [isLoading]="isLoading"></app-loader>
    </div>
    <form *ngIf="!isLoading" (ngSubmit)="submit()" [formGroup]="Form" #f novalidate>
      <div fxLayout="row" fxLayoutGap="10%">
        <div fxLayout="column" fxLayoutGap="15px">
          <mat-form-field appearance="outline">
            <mat-label>This months bill</mat-label>
            <input readonly="true" matInput formControlName="month_bill" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Next Payment Date</mat-label>

            <input matInput readonly="true" formControlName="next_payment_date" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="end flex-end">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Payment Info</mat-label>
              <input matInput readonly="true" formControlName="payment_info" />
            </mat-form-field>
          </div>
          <div>
            <div fxLayout="column" fxLayoutAlign="end flex-end">
              <div fxLayout="row" fxLayoutAlign="center center">
                <img src="./../../assets/Visa_logo_PNG1.png" alt="" width="50px" class="cus-pd" />
                <mat-form-field appearance="outline" class="pl-2">
                  <input matInput readonly="true" formControlName="card_number" />
                </mat-form-field>
              </div>
              <button mat-raised-button color="primary" routerLink="/payment-method">EDIT</button>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="5px">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>License Utilisation</mat-label>
              <button
                mat-icon-button
                matSuffix
                matTooltip="Find out more about licenses by checking out our knowledge base article which explains all!"
              >
                <mat-icon>info</mat-icon>
              </button>
              <input readonly="true" formControlName="license_utilisation" matInput />
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="start">
            <div class="pb-4">
              <p>{{ data?.customerSubscriptionData?.data?.length }} active licenses</p>
              <p>2 pending Invitations</p>
              <p>3 licenses available to assign</p>
            </div>
            <div fxLayout="row" fxLayoutGap="5px">
              <button mat-raised-button color="primary">EDIT LICENSES</button>
              <button mat-raised-button color="warn" routerLink="/cancel-account">CANCEL PLAN</button>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center" class="pt-5">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <p>Invoicing</p>
          <button mat-raised-button color="primary" [routerLink]="['/invoices/', data?.customerDetail?.id]">
            VIEW
          </button>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <p>Need some help?</p>
          <button mat-raised-button color="primary">SUBMIT A SUPPORT TICKET</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
